/* STYLE SECTIONING TAGS */
*{
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  background-color: #fcd0f6; 
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#namePrompt {
  display: flex;
  justify-content: center;
  align-items: center;
}

#valentineScreen {
  text-align: center;
  margin-top: 20px;
}

#header {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

#letterContent {
  text-align: left;
  font-size: 12px;
  line-height: 1.3;
  margin-left: -10;
}

.promptBox {
  background-color: #f9f0f9;
  padding: 60px;
  border: 6px solid #555;
  box-shadow: 6px 6px 0px #333;
  text-align: center;
}

.envelope {
  position: relative;
  width: 300px;
  height: 200px;
  background: #f5deb3;
  border: 4px solid #c9a063;
  cursor: pointer;
  overflow: hidden;
}

.flap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  background: #dc8cb8;
  clip-path: polygon(0 100%, 50%, 0, 100%, 100%);
  transition: transform 0.6 ease;
  transform-origin: top;
  z-index: 2
}

.letter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background: white;
  transition: height 2.0 ease;
  overflow: hidden;
  padding: 0 15px;
  overflow-y: auto;
}

.heartStamp {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  z-index: 3;
}

input {
  font-family: "VT323", monospace;
  padding: 10px;
  margin-top: 15px;
  border: 4px solid #444;
  background-color: white;
}

button {
  font-family: "VT323", monospace;
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #ff6b81;
  border: 4px solid #b33939;
  cursor: pointer;
}

button:hover {
  background-color: #ff4757;
}

/* STYLE TEXT */
main {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20%;
  margin-left: 20%;
}
header {
  background-color: #933e93;
}

p {
  text-align: center;
}
/* FONTS */
.vt323 {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
/* STYLE NAV BAR */

/* STYLE IMAGES */

canvas {
  pointer-events: none;
}


